div {
    margin: 0;
}

.image_container {
    position: relative;
    align-items: center;
}

.item {
    height: auto;
    width: 25%;
    position: absolute;
}
.item img {
    width: 99%;
}
.item a img:focus {
    max-width: none;
}

.new_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.new_container img {
    height: auto;
    width: auto;
}